
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffffff;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
header{
  background-color: #f4f7f9;
}
.header-top {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  background-color: #293449;
}

.header-search {
  color: #ffffff;
}
/* Убираем синий цвет ссылок и фиолетовый посещенных ссылок */
a.link:active,
a.link:hover,
a.link{
  color: #ffffff;
}

.header-description {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

.phone {
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ee3643;
}

.header-address {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
}

.header-user {
  font-family: Cuprum;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
}

.header-navigation {
  font-family: Cuprum;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.promo-link {
  font-family: Cuprum;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.promo-description {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-caption {
  font-family: Cuprum;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.slider-slogan {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.red-link {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color:#ee3643;
  text-transform: uppercase;
}

h2 {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-transform: uppercase
}

.product-name {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.product-model {
  font-family: PTSans;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.product-price {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.product-price-no-discount {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #a9a9a9;
  text-decoration-line:line-through;
}

.product-buy {
 font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;
}

.product-to-bookmark {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #32425c;
}
h3{
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.services-description {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.services-switcher-button {
  font-family: Cuprum;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color:#ffffff;
  background-color:#32425c;
}
.services-switcher:active{
  color: #32425c;
}

.services-name {
  font-family: Cuprum;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
}

.services-service {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.about-company-description {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.delivery-companies {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.forms-label {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.forms-input-text {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #a9a9a9;
}

.footer-adress {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
}

.footer-links {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f3f7f9;
}

.footer-orange-color {
  color: #ffda96;
}

.footer-copyright {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.footer-feedback {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
}

.header-button-green {
  background-color: #63a63e;
}

.header-button-white {
  background-color: #ffffff;
}

.header-link-underline {
  font-family: Cuprum;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-decoration: underline;
}

.yellow {
  background-color: #ffbf47;
}

.cyan {
  background-color:#3bbce3;
}

.pink {
  background-color: #dc91d8;
}

.green {
 background-color: #8ed78f;
}

.yellow-2 {
  background-color:#ffc047;
}

.section-header {
  background-color:#f9f5f0;
}

.promo-slider {
  background-color: #76685b;
}

.services {
  background-color: #f4f7f9;
}

.service-switcher-button-active {
  background-color: #ffffff;
  color:#32425c;
}
footer{
  background-color:#32425c;
}

.feedback-services {
  background-color: #293449;
}

.upline {
  background-color: #ee3643;
}

.feedback {
  background-color: #ffffff;
}

.button-container {
  background-color: #f4f4f4;
}


.pagination-link {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

h1 {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
}

h4 {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.sort-button {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sort-button-red {
  color: #ee3643;
}

.filter-header {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.76;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.filter-item {
  font-family: PTSans;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.filter-button {
  border: solid 1px;
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.input-price {
  font-family: PTSans;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.range-controls {
  background-color: #f7f3ec;
}

.header-container {
  background-color:#f7f3ec;
}

.visually-hidden {

}

.page {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.page-active {
  font-family: PTSans;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
}

.message-text {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.white-link {
  font-family: Cuprum;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}
